# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.user
*.suo
/Market/bin/Debug
/Market/obj/Debug
/MarketPresentation/bin/Debug
/MarketPresentation/obj/Debug
/MarketTestFixture/bin/Debug
/MarketTestFixture/obj/Debug
/_TeamCity.Market
/Rerun/Market.TestFixture.vshost.exe.manifest
/Rerun/Market.TestFixture.vshost.exe.config
/Rerun/Market.TestFixture.vshost.exe
/Rerun/Market.TestFixture.pdb
/Rerun/Market.TestFixture.exe.config
/Rerun/Market.TestFixture.exe
/Rerun/Market.pdb
/Rerun/Market.dll
/Rerun/EntityFramework.xml
/Rerun/EntityFramework.SqlServer.xml
/Rerun/EntityFramework.SqlServer.dll
/Rerun/EntityFramework.dll
/Test.xlsx
/Performance.psess
/Market.TestFixture.psess
/DailyRoutine/Market.TestFixture.pdb
/DailyRoutine/Market.TestFixture.exe.config
/DailyRoutine/Market.TestFixture.exe
/DailyRoutine/Market.pdb
/DailyRoutine/Market.dll
/DailyRoutine/EntityFramework.xml
/DailyRoutine/EntityFramework.SqlServer.xml
/DailyRoutine/EntityFramework.SqlServer.dll
/DailyRoutine/EntityFramework.dll
/DailyRoutine
/.vs/Market/v15/Server/sqlite3/storage.ide-wal
/.vs/Market/v15/Server/sqlite3/storage.ide-shm
/.vs/Market/v15/Server/sqlite3/storage.ide
/.vs/Market/v15/Server/sqlite3/db.lock
/.vs/Market/v15/Server/sqlite3
